.portfolio {
  padding: 1rem;
}

.portfolio > h1 {
  background: repeating-linear-gradient(
    135deg,
    black,
    black 50px,
    transparent 50px,
    transparent 100px
  );
  height: 2rem;
  width: 100%;
  margin: auto;
  letter-spacing: -1px;
}



@media screen and (max-width: 768px) {
  .portfolio > h1 {
    font-size: 8vw;
  }
}




marquee{
  font-size: 4rem;
}



.marquee-container {
  white-space: nowrap;
  overflow: hidden;
}

.marquee-text {
  display: inline-block;
  animation: marquee 30s linear infinite; /* Adjust the speed by changing the animation duration */
  font-size: 10rem;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
