h2 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
 }
/* 
 img{
    width: 50%;
    height: auto;
  }
   */

  @media screen and (max-width: 768px) {
    img {
      width: 80% !important
      /* border: 3px solid black; Debugging border */
    }
  }