.banner {
  color: #1d1d1b;
  padding: 0.3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Move this rule to the top of your stylesheet */
@font-face {
  font-family: headingfont;
  src: url('../../src/assets/chomsky/Chomsky.otf') format('opentype');
}

.heading {
  font-size: 4vw;
  font-family: headingfont, Arial, sans-serif;
  font-weight: 100;
}

.heading-details{
  font-style: italic;
  letter-spacing: 1px;
}

.heading-div{
  margin: auto;
}


.color-pallet > div {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.color-pallet {
  display: flex;
}

.abc {
  display: flex;
}


.horizontal-line{
  width: auto;
  background-color: #1d1d1b;
  height: 1px;
  padding: 0;
}

.band-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.print-details{
  border: 1px solid #1d1d1b;
  /* width: 10vw; */
  word-wrap: break-word;
}

.print-details >h3{
  font-weight: 100;
  font-size: 27px;
}




@media screen and (max-width: 768px) {
  .heading{
    font-size: 15vw;
    font-family: headingfont, Arial, sans-serif;

  }
  
}