.banner {
  background-color: rgb(3, 3, 3);
  color: aliceblue;
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .banner > h1 {
    font-size: 4vw;
  }
  /* .portfolio > h1 {
    font-size: 8vw;
  } */
}

.color-pallet > div {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.color-pallet {
  display: flex;
}

.abc {
  display: flex;
}
